<form action="/add_diary_entry" method="post">
<label for="title">Add the title of your diary entry here:</label><br>
<input type="text" name="title"><br>
<label for="entry">Add your diary entry here:</label><br>
<input type="text" name="entry"><br>
<input type="submit" name="Add to diary">
</form>

<a href="/view_diary">View Diary Entries</a>